# Xcode
# OS X temporary files that should never be committed
.DS_Store

# Xcode build files 
DerivedData/
build/
*.swp
*.lock
profile

#####
# Xcode private settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

#####
# Xcode 4 - semi-personal settings
xcuserdata
*.xcworkspace
!default.xcworkspace

#####
# Xcode 4 - Deprecated classes
*.moved-aside

#####
# Pods - for those of you who use CocoaPods
Pods

#####
# Xcode temporary files that should never be committed
*~.nib

#####
# Xcode 5 - VCS file
*.xccheckout

#####
# Other
.Trashes
.idea/
